* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font-family: "General Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  color: #00091d;

  background: linear-gradient(162.79deg, #fbefce 7.78%, #d1f3fd 65.08%);
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0;
  color: inherit;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0;
  color: inherit;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  text-align: center;

  color: inherit;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  color: inherit;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.coupon-banner {
  background-color: #eeab52;
  text-align: center;
  padding: 8px 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;

  p {
    font-size: 12px;
  }

  .coupon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .coupon-text span {
    font-weight: 700;
  }

  .coupon-code {
    padding-bottom: 0.5rem;
  }

  .coupon-label {
    font-weight: 400;
  }

  .coupon-value {
    padding: 8px 14px;
    border: 1px dashed #00091d;
    border-radius: 64px;
    margin-left: 0.5rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

/* Hero section */

.hero {
  padding: 35px 16px;
  text-align: center;

  .rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem auto;

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
    }

    strong {
      font-weight: 700;
    }
  }
  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .stars-mobile {
    display: block;
    width: 15px;
    height: 15px;
  }

  .stars-desktop {
    display: none;
  }

  .description {
    margin: 1rem auto;
  }

  .author {
    font-size: 16px;
    line-height: 130%;

    strong {
      font-weight: 500;
    }
  }
}
/* Features section */

.features {
  padding: 35px 16px;

  .feature-image {
    position: relative;
  }
  .feature {
    position: relative;
    text-align: left;
    margin-top: 1rem;

    h2 {
      text-align: left;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .feature-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 32.5px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 62.5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature-number.green {
    background-color: #69bd41;
  }

  .feature-number.orange {
    background-color: #eeab52;
  }

  .feature-number.light-blue {
    background-color: #8dd6ef;
  }

  .feature-number.mobile {
    position: absolute;
    bottom: -15px;
    left: 0;
  }

  .feature-number.desktop {
    display: none;
  }
}

/* Test section */

.test-section {
  padding: 60px 15px;
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;

  h2 {
    text-align: left;
  }
  .test-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .test-card {
    margin-top: 1rem;
    background: linear-gradient(180deg, #fae9bd 0%, #fdfcf4 100%);
    box-shadow: 0px 2px 19px 0px #00091d1f;
    padding: 25px 20px 20px;
    border-radius: 20px;

    h3 {
      border-bottom: 1px solid rgba(0, 9, 29, 0.21);
      padding-bottom: 1rem;
    }
    h4 {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }

  .test-includes {
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.8rem;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0;
      vertical-align: bottom;
    }
  }

  .cta-button {
    display: block;
    padding: 23px 42px;
    border-radius: 100px;
    background-color: #ffbec6;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: inherit;
    max-width: 300px;
  }
}

/* Testimonials section */

.testimonials {
  padding: 60px 20px 10px;
  background: linear-gradient(270deg, #def2d4 0%, #f6fdf6 111%);
  box-shadow: 0px 2px 19px 0px #00091d1f;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 30px;

  h2 {
    font-size: 26px;
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #00091d1a;
    border-radius: 12px;
    box-shadow: 0px 2px 19px 0px #00091d1f;
    padding: 35px 22px;
    max-width: 300px;

    blockquote {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0;
      text-align: center;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .testimonial-avatar {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 62.5px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .testimonial-avatar.orange {
      background-color: #eeab52;
    }

    .testimonial-avatar.green {
      background-color: #69bd41;
    }
    .testimonial-avatar.light-blue {
      background-color: #8dd6ef;
    }
  }
}

/* Media queries */

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }

  .coupon-banner {
    padding: 24px;
    font-size: 14px;

    p {
      font-size: 14px;
    }

    .coupon-content {
      flex-direction: row;
    }

    .coupon-code {
      padding-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 22px;
  }

  .hero {
    .stars-mobile {
      display: none;
    }

    .stars-desktop {
      display: block;
    }

    .rating {
      p {
        font-size: 18px;
      }
    }
  }
  .features {
    .features-content {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    .feature-image {
      flex: 0 0 45%;
    }

    .feature-number.desktop {
      display: flex;
    }

    .feature-number.mobile {
      display: none;
    }

    .feature {
      margin-top: 2.5rem;
    }
  }

  .test-section {
    padding: 70px 100px;

    h2 {
      text-align: center;
    }

    .test-description {
      text-align: center;
    }

    .test-content {
      display: flex;
      align-items: stretch;
      gap: 2rem;

      .test-image {
        flex: 0 0 50%;
      }
    }

    .test-card {
      margin-top: 0;
      padding: 35px 24px 25px;
    }

    .cta-button {
      max-width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .test-section {
    padding: 70px 100px;

    .test-content {
      display: flex;
      align-items: stretch;
      gap: 2rem;

      .test-image {
        flex: 0 0 65%;
      }
    }

    .test-card {
      margin-top: 0;
      padding: 35px 24px 25px;
    }

    .cta-button {
      font-size: 20px;
      max-width: 100%;
    }
  }
}
